@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

}
<div>
    <h1 class="title">Inserisci un nuovo Prodotto</h1>
    <form method="post">
        <label for="inputC8">Codice Prodotto</label>
        <input class="input-group" id="inputC8" type="text" placeholder="inserisci un prodotto..." />

        <label for="inputDesc">Descrizione</label>
        <input class="input-group" id="inputDesc" type="text" placeholder="inserisci una descrizione..." />

        <label for="inputTitolo">Titolo</label>
        <input class="input-group" id="inputTitolo" type="text" placeholder="inserisci un titolo..." />

        <label for="inputLink">Link</label>
        <input class="input-group" id="inputLink" type="text" placeholder="inserisci link prodotto..." />

        <input type="submit" value="Submit" class="submit" />
    </form>
</div>

